#section1 {
  .top-pad-md;
  h2 {
    .homeh2;
  }
  .themes img {
    padding: 0 40px;
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      height: 20vh;
    }
  }
  p {
    .bottom-pad(8px);
  }
  .row {padding-bottom: 32px;}
  text-align: center;
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
}

#section2 {
  .top-pad-lg;
  h2 {
    .homeh2;
  }
  p {
    .bottom-pad(8px);
  }
  img {
    .bottom-pad(26px);
  }
  .row {padding-bottom: 32px;}
  text-align: center;
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
}

#section3 {
  .top-pad-lg;
  h2 {
    .homeh2;
  }
  .graph {
    /*I want to - vertical-align: bottom;*/
  }
  p {
    .bottom-pad(8px);
  }
  img {
    .bottom-pad(26px);
    text-align: center;
    display: inline-block;
  }
  .row {padding-bottom: 32px;}
  text-align: center;
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
}
