#row1 {
  padding-top: 86px;
  h2 {
    margin-top: 0px;
    font-family: 'Bebas Neue', inherit, helvetica, serif;
    font-size: 48px;
    color: @brand-dark;
  }
  .themes img {
    padding: 0 40px;
  }
}

#row2 {
  padding-top: 132px;
  h2 {
    margin-top: 0px;
    font-family: 'Bebas Neue', inherit, helvetica, serif;
    font-size: 48px;
    color: @brand-dark;
  }
}

#row3 {
  padding-top: 132px;
  h2 {
    margin-top: 0px;
    font-family: 'Bebas Neue', inherit, helvetica, serif;
    font-size: 48px;
    color: @brand-dark;
  }
}
