// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #ad494f;
@brand-primary-light:   lighten(#ad494f, 10%);
@brand-primary-dark:    darken(#ad494f, 10%);

@brand-secondary:       #49a7ca;
@brand-secondary-dark:  darken(#49a7ca, 10%); // #222

@brand-dark:            #1a1a1a;
@brand-darker:          darken(#1a1a1a, 10%); // #???


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
